<header class="container-fluid fondoWhite">
    <div class="logo text-center">
        <img src="/public/imgs/LOGO_300.png" alt="">
    </div>
</header>
<main>
    <div class="contenedor">
        <div class="fondo">
            <img src="/public/imgs/Portada.jpg" alt="portada">
        </div>
        <div class="triangulo2 animated fadeIn">
            <img src="/public/imgs/triangulo2.png" alt="waves">
        </div>
    </div>
    <div class="acount text-center animateddd fadeIn">
        <h1 class="text-center mb-3 animatedd fadeInLeft">Bienvenidos</h1>

        <form action="/singin" method="POST" class="form-group">
            <input name="email" class="form-control centrar text-center animateddd fadeInRight" type="email"
                placeholder="Email">
            <input name="password" class="form-control centrar text-center animateddd fadeInLeft" type="password" focus
                placeholder="Contraseña">

            <button class="btn btn-success centrar animateddd fadeInRight mb-1">Ingresar</button>
        </form>
        {{!-- <a href="/register" class="btn btn-warning mb-3 animateddd fadeInRight">Registrar</a> --}}
    </div>

</main>
<script>
    let cosa = document.querySelector('input[name="email"]')
    cosa.focus()
    
</script>