<main class="container pt-3">
    <h1>Consumo total del expendedor: 8522L</h1>
    <div class="row pt-3">
        <div class="col-6">
            asdas
        </div>
        <div class="col-6">asdas</div>
    </div>
</main>
<style>
    main{
        width: 100%;
        height: 100%;
        background-color: black;
        color:white;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.0/dist/chart.min.js"></script>