<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 position-sticky top-0">
                <div class="logo  d-none d-sm-block ">
                    <img src="/public/imgs/LOGO_300.png" alt="" class="navLogo">
                </div>
                {{!-- <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a> --}}
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/consumo" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Consumo</span>
                        </a>
                    </li>
                    <li>
                       <li class="nav-item">
                            <a href="/camiones" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Camiones</span>
                            </a>
                        </li>   
                    </li>
                    {{!-- <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li> --}}
                   
                    <li>
                            <a href="/choferes" class="nav-link px-0">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Choferes</span> </a>
                    </li>
                    <li>
                        <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Administracion</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/adminAdministradores" class="nav-link px-0"><i class="fs-4 bi-person-fill"></i> <span class="d-none d-sm-inline">Administradores</span></a>
                            </li>
                            <li>
                                <a href="/administracionchoferes" class="nav-link px-0"><i class="fs-4 bi-bezier2"></i> <span class="d-none d-sm-inline">Choferes</span></a>
                            </li>
                            <li>
                                <a href="/singupcamion" class="nav-link px-0"><i class="fs-4 bi-truck"></i> <span class="d-none d-sm-inline">Camion</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {{!-- <hr> --}}
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Usuario</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">Configuracion</a></li>
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Salir</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-0 px-0 ">
            {{{body}}}
        </div>
    </div>
</div>
<style>
    .navLogo{
        height: 50%;
        width: 100%;
    }
    .nav-link{
        color:azure !important;
        transition: all 1s;

    }
    .nav-link:hover{
        color:black !important;
        transition: all 1s;
    }
</style>