<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/imgs/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/bootstrap/flaty.css">
    <link rel="stylesheet" href="/public/css/bienvenida.css">
    <link rel="stylesheet" href="/public/css/animate.css">
    
    <title>Letard Ripiera</title>
</head>
<body>
    {{{body}}}
</body>
</html>